<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>胡凯赫的个人简介</title>
    <link rel="stylesheet" href="../../../public/stylesheets/reset.min.css">
    <link rel="stylesheet" href="css/jquery.fullPage.min.css">
    <link rel="stylesheet" href="/public/library/animate/animate.min.css">
    <link rel="stylesheet" href="css/aboutMe.min.css">
    <script src="/public/library/jquery/jquery-1.12.0.min.js"></script>
    <script src="js/jquery.fullPage.min.js"></script>
</head>
<body>
<audio src="cityOfStars.mp3" autoplay controls class="audio"></audio>
<div id="page-container">
    <div id="page1" class="page section" style="background:url(images/city.jpg);background-size:100% 100%;">
        <div class="intro-box">
            <div class="title" style="background-color: rgba(73,48,142,0.9)">胡凯赫
            </div>
            <div class="introduce" style="background-color: rgba(115,74,123,0.9)">
                <p>前端工程师</p>
                <p><a>重庆邮电大学数字媒体技术研究所前端组核心成员</a></p>
                <p><a>CSDN “博客之星”提名奖获得者&nbsp;&nbsp;&nbsp;CSDN博客准专家</a></p>
                <p><a>2015-2016年国家奖学金获得者</a></p>
                <p><a>第十届“挑战杯”大学生创业计划竞赛国家银奖获得者</a></p>
                <p>重庆邮电大学2018年研究生面试推免资格获得者</p>
            </div>
        </div>
    </div>
    <div id="page2" class="page section" style="background:url(images/country.jpg);background-size:100% 100%;">
        <div class="intro-box right-box">
            <div class="title" style="background-color: rgba(230,224,226,0.9)">国家奖学金
            </div>
            <div class="introduce" style="background-color: rgba(56,102,151,0.9)">
                <p>胡凯赫凭借</p>
                <p>专业排名<strong>1/103</strong>;综合排名<strong>4/103</strong>的优异成绩</p>
                <p>与重庆邮电大学数字媒体技术研究所对学校网站建设与学生培训的贡献</p>
                <p>在“小挑”中获得重庆市金奖，组内排名第二</p>
                <p>经过紧张的答辩，在全校各个专业的优秀学子中突出重围</p>
                <p>获得2015-2016学年<strong>国家奖学金</strong></p>
            </div>
        </div>
        <div class="random-box"><img src="images/scholarship.jpg" class="scholarship"/></div>
    </div>
    <div id="page3" class="page section" style="background:url(images/nature.jpg);background-size:100% 100%;">
        <div class="intro-box right-box">
            <div class="title" style="background-color: rgba(23,31,13,0.9);line-height: 50px;font-size: 25px">
                第十届“挑战杯”大学生创业计划竞赛国家银奖
            </div>
            <div class="introduce" style="background-color: rgba(33,70,23,0.9)">
                <p>于2016年5月-2016年11月</p>
                <p>参加第十届“挑战杯”大学生创业计划竞赛</p>
                <p>作品《互联网取证与证据保全还原系统》</p>
                <p>先后获得重庆赛区金奖，组内排名第二及<strong>全国银奖，组内排名第四</strong></p>
            </div>
        </div>
        <div class="random-box">
            <img src="images/challengeCup.jpg" class="cup"/>
        </div>
    </div>
    <div id="page4" class="page section" style="background:url(images/star.jpg);background-size:100% 100%;">
        <div class="intro-box">
            <div class="title" style="background-color: rgba(20,25,48,0.9);line-height: 50px;font-size: 25px">
                CSDN博客准专家 2015-2016年博客之星提名奖
            </div>
            <div class="introduce" style="background-color: rgba(21,52,82,0.9)">
                <p>于CSDN上发布博客30余篇</p>
                <p>个人访问量10w+</p>
                <p>根据综合评比，获得CSDN2015-2016年博客之星提名奖</p>
                <p>由于博客质量高，被授予“博客准专家”称号</p>
            </div>
        </div>
        <div class="random-box" style="float:right">
            <a href="http://blog.csdn.net/hukaihe" target="_blank"><img src="images/csdn.png" class="csdn"/></a>
        </div>
    </div>
    <div id="page5" class="page section" style="background:url(images/christ.jpg);background-size:100% 100%;">
        <div class="intro-box">
            <div class="title" style="background-color: rgba(23,9,32,0.9);line-height: 50px;font-size: 25px">
                项目经历
            </div>
            <div class="introduce" style="background-color: rgba(48,30,10,0.9);">
                <p>重庆邮电大学基金会</p>
                <p>重庆邮电大学软件工程学院考试系统</p>
                <p>web建站布局器与后台通用管理系统</p>
                <p>星艺教育培训网站</p>
                <p>个人博客</p>
                <p><a href="/views/static/about-me.pdf" target="_blank" style="color: #666;">点此在简历中查看项目详细信息</a></p>
            </div>
        </div>
        <div class="random-box" style="float:right">
           <img src="images/pro.png" style="border-radius: inherit;width: 600px;height: 500px;">
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#page-container').fullpage();
    });
</script>
</body>
</html>